micronaut:
  application:
    name: oda-actions-service
  security:
    token:
      jwt:
        signatures:
          jwks:
            keycloak:
              url: https://auth.oda.digital/realms/ODA/protocol/openid-connect/certs
  executors:
    publishers:
      type: fixed
      nThreads: 2
flyway:
  datasources:
    default:
      enabled: true
endpoints:
  prometheus:
    sensitive: false
  metrics:
    sensitive: false
